*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*/////   Top menu   /////*/
.menu_top{
    display: flex;
    flex-direction: column;
}
.menu_top_top{
    background-color: #333333;
    display: flex;
    flex-direction: row; 
    padding: 20px; 
    justify-content: space-between;
    padding-left: 270px;
    padding-right: 270px;
}
.TrangChu_Menu{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
}
.menu_center_top{
    background-color: #333333;
    display: flex;
    flex-direction: row; 
    padding: 20px; 
    justify-content: space-between;
    padding-left: 17rem;
    padding-right: 270px;
}
.menu_center_bottom_top{
    background-color: #333333;
    display: flex;
    flex-direction: row; 
    padding: 20px; 
    justify-content: space-around;
    
    padding-left: 500px;
    padding-right: 500px;
}

.icon{
    position: absolute;
}
.search_menu{
    justify-self: center;
    align-self: center;
    width: 23.6%;
    
}
.search{
    position: flex;
    width: 100%;
    height: 2.5rem;
}
.button{
    width: 5%;
    height: 2.5rem;
    position: absolute;
    font-weight: 600;
    background-color: #C89979;
    border: none;
    color: white;
}


.margin_horizontal_5px{
    margin-left: 5px;
    margin-right: 5px;
}
.margin_top_20px{
    margin-top: 20px;
}



.search_menu{
    justify-self: center;
    align-self: center;
    width: 23.6%;
    
}



.font_size_small{
    font-size: 15px;
}
.font_size_medium{
    font-size: 25px;
}
.font_size_large{
    font-size: 40px;
}


/*Menu_bottom*/
.menu_bottom{
    display: flex;
    height: 520px;
    width: 100%;
    background-color: #333333;
    margin-top: 100px;
    padding-top: 75px;
    padding-left: 270px;
    padding-right: 270px;
}

.menu_bottom_unit{
    line-height: 25px;
    word-spacing: 5px;
    display: flex;
    flex-direction: column;
    width: 280px;
    background-color: #333333;
}

.SanPhamUnit{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.SanPham{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.SanPhamList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
}
.BTN_Them{
    color: white;
    background-color: #C89979;
    border: none;
    padding: 5px;
    border-radius: 3px;
}
.SanPham_Title{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*DangKyThongTin*/
.dangKy{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 9.375rem;
    align-items: center;
    padding-left: 17.4%;
    padding-right: 17.4%;
    border-top: 1px solid #333333;
}

.dangKy_form{
    width: 50%;
    height: 100%;
    padding: 5%;
}
.form{
    width: 70%;
}
.button_DK{
    width: 5%;
    height: 3%;
    position: absolute;
    font-size: small;
    font-weight: 600;
    background-color: #C89979;
    border: none;
    color: white;
}
.font_size_small{
    font-size: 0.7rem;
}
.font_size_medium{
    font-size: 1.4rem;
}
.font_size_large{
    font-size: 2.1rem;
}
.product-grid3{font-family:Roboto,sans-serif;text-align:center;position:relative;z-index:1}
.product-grid3:before{content:"";height:81%;width:100%;background:#fff;border:1px solid rgba(0,0,0,.1);opacity:0;position:absolute;top:0;left:0;z-index:-1;transition:all .5s ease 0s}
.product-grid3:hover:before{opacity:1;height:100%}
.product-grid3 .product-image3{position:relative}
.product-grid3 .product-image3 a{display:block}
.product-grid3 .product-image3 img{width:100%;height:auto}
.product-grid3 .pic-1{opacity:1;transition:all .5s ease-out 0s}
.product-grid3:hover .pic-1{opacity:0}
.product-grid3 .pic-2{position:absolute;top:0;left:0;opacity:0;transition:all .5s ease-out 0s}
.product-grid3:hover .pic-2{opacity:1}
.product-grid3 .social{width:120px;padding:0;margin:0 auto;list-style:none;opacity:0;position:absolute;right:0;left:0;bottom:-23px;transform:scale(0);transition:all .3s ease 0s}
.product-grid3:hover .social{opacity:1;transform:scale(1)}
.product-grid3:hover .product-discount-label,.product-grid3:hover .product-new-label,.product-grid3:hover .title{opacity:0}
.product-grid3 .social li{display:inline-block}
.product-grid3 .social li a{color:#e67e22;background:#fff;font-size:18px;line-height:50px;width:50px;height:50px;border:1px solid rgba(0,0,0,.1);border-radius:50%;margin:0 2px;display:block;transition:all .3s ease 0s}
.product-grid3 .social li a:hover{background:#e67e22;color:#fff}
.product-grid3 .product-discount-label,.product-grid3 .product-new-label{background-color:#e67e22;color:#fff;font-size:17px;padding:2px 10px;position:absolute;right:10px;top:10px;transition:all .3s}
.product-grid3 .product-content{z-index:-1;padding:15px;text-align:left}
.product-grid3 .title{font-size:14px;text-transform:capitalize;margin:0 0 7px;transition:all .3s ease 0s}
.product-grid3 .title a{color:#414141}
.product-grid3 .price{color:#000;font-size:16px;letter-spacing:1px;font-weight:600;margin-right:2px;display:inline-block}
.product-grid3 .price span{color:#909090;font-size:14px;font-weight:500;letter-spacing:0;text-decoration:line-through;text-align:left;display:inline-block;margin-top:-2px}
.product-grid3 .rating{padding:0;margin:-22px 0 0;list-style:none;text-align:right;display:block}
.product-grid3 .rating li{color:#ffd200;font-size:13px;display:inline-block}
.product-grid3 .rating li.disable{color:#dcdcdc}
@media only screen and (max-width:1440px){.product-grid3 .rating{margin:0}
}

@media only screen and (max-width:600px){
    .product-grid3 .rating{margin:0}
    #wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    /***TOP***/
    .menu_top{
        width: 100%;
    }
    .menu_center_bottom_top{
        display: none;
        
    }
    .menu_center_top{
        align-self: center;
    }
    .menu_top_top{
        display: none;
    }
    .logo-mona-2{
       justify-self: center;
    }
    .margin_top_20px{
        display: none;
    }
    .search_menu{
        display: none;
    }
    /*



    /*SLIDE_MENU*/
    .slide_menu{
        display: none;
    }
    /*BANCHAY*/
    .menu_bottom_BanChay{
        width: 100%;
    }
    .menu_BanChay{
        flex-direction: column;
    }
    
    .dangKy{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        border-top: 1px solid #333333;
    }
    .dangKy_form{
        width: 100%;
        height: 100%;
    }
    .form{
        width: 80%;
    }
    .button_DK{
        width: 20%;
        height: 4.5%;
        position: absolute;
        font-size: small;
        font-weight: 600;
        background-color: #C89979;
        border: none;
        color: white;
    }



    /*Menu_bottom*/
    .menu_bottom{
        display: flex;
        height: auto;
        flex-direction: column;
        width: 100%;
        background-color: #333333;
        margin-top: 6.25rem;
        justify-content: space-around;
        padding: 5.2%;
        
    }

    .menu_bottom_unit{
        padding-left: 10px;
        padding-right: 10px;
        line-height: 25px;
        word-spacing: 2px;
        display: flex;
        flex-direction: column;
        width: 280px;
        background-color: #333333;
    }
}

