*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

/*/////   Top menu   /////*/
.menu_top{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
}
.menu_top_top{
    background-color: #333333;
    display: flex;
    flex-direction: row; 
    padding: 20px; 
    justify-content: space-between;
    padding-left: 18.75%;
    padding-right: 18.75%;
}
.search_menu{
    justify-self: center;
    align-self: center;
    
}
.search{
    position: flex;
    width: 100%;
    height: 2.5rem;
}
.button{
    width: 5%;
    height: 2.5rem;
    position: absolute;
    font-weight: 600;
    background-color: #C89979;
    border: none;
    color: white;
}
.menu_center_top{
    background-color: #333333;
    display: flex;
    flex-direction: row; 
    padding: 20px; 
    justify-content: space-between;
    padding-left: 18.75%;
    padding-right: 18.75%;
}

.menu_center_bottom_top{
    background-color: #333333;
    display: flex;
    flex-direction: row; 
    padding: 20px; 
    justify-content: space-around;
    
    padding-left: 25.7%;
    padding-right: 25.7%;
}

.icon{
    position: absolute;
}
.logo-mona-2{
    width: 12.5rem;
    height: 4.17rem;
}

.margin_horizontal_5px{
    margin-left: auto;
    margin-right: auto;
}
.margin_top_20px{
    margin-top: 20px;
}

.item1 { grid-area: header;  display: flex;flex-direction: row;}
.item2 { grid-area: menu; display: flex;flex-direction: row;}
.item3 { grid-area: main; display: flex;flex-direction: row;}
.item4 { grid-area: right;display: flex;flex-direction: row;}
.item5 { grid-area: footer;  display: flex;flex-direction: row;}
.item6 { grid-area: left;  display: flex;flex-direction: row;}


.grid-container {
    padding-left: 18.4%;
    padding-right: 18.4%;
    padding-top: 5%;
    padding-bottom: 5%;
    
    height: auto;
    display: grid;
    grid-template-areas:
        'header menu';
    gap: 10px;
}


/*/////   Center slide menu   /////*/
.font_size_small{
    font-size: 0.7rem;
}
.font_size_medium{
    font-size: 1.4rem;
}
.font_size_large{
    font-size: 2.1rem;
}
.slide_menu{
    display: flex;
    width: 100%;
    height: 50rem;

}
.img_slide{
    display: flex;
    width: 100%;
    height: auto;
}
.slide_menu_description{
    
    height: 48.6rem;
    width: 83.3rem;
    padding-top: 175px;
    padding-left: 310px;
    padding-right: 310px;
    position: absolute;
}

.btn_XemSanPham{
    border: 3px solid white;
    background-color: #222222;
    color: #fff;
    border-radius: 5px;
    width: 200px;
    height: 45px;
}






/*/////   Bottom menu   /////*/
.menu_bottom_top{
    height: auto;
    width: 100%;
    justify-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    padding-top: 2.4%;
    padding-bottom: 13.8%;
    align-self: center;

}   

/*BANNER1*/
.banner{
    width: 32%;
    height: 30%;
    position: absolute;

}
.banner_unit{
    display: block;
}
.word_banner{
    height: 6.94rem;
    width: 19.4rem;
    padding: 20%;
    position: relative;
}

.font_size_small_absolute{
    font-size: 15px;
    position: absolute;
}
.font_size_medium_absolute{
    font-size: 25px;
    position: absolute;
}
.font_size_large_absolute{
    font-size: 40px;
    position: absolute;
}









/*BANNER2*/
.menu_bottom_center{
    display: flex;
    align-content: center;
    justify-items: center;
    height: 30rem;
    flex-direction: row;
    justify-content: space-between;
}
.absolute_small_banner{
    position: absolute;
    width: 25%;
    height: 23%;
}
.banner_unit{
    display: flex;
    align-self: center;

}
.word_small_banner{
    height: 120px;
    width: 270px;
    position: relative;
    padding-top: 40px;
    padding-left: 30px;
}


/*DangKyThongTin*/
.dangKy{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 9.375rem;
    align-items: center;
    padding-left: 17.4%;
    padding-right: 17.4%;
    border-top: 1px solid #333333;
}
.dangKy_form{
    width: 50%;
    height: 100%;
    padding: 5%;
}
.form{
    width: 70%;
}

.button_DK{
    width: 5%;
    height: 3%;
    position: absolute;
    font-size: small;
    font-weight: 600;
    background-color: #C89979;
    border: none;
    color: white;
}


/*Menu_bottom*/
.menu_bottom{
    display: flex;
    height: auto;
    width: 100%;
    background-color: #333333;
    margin-top: 6.25rem;
    padding-top: 5.2%;
    padding-left: 17.4%;
    padding-right: 17.4%;
}

.menu_bottom_unit{
    padding-left: 10px;
    padding-right: 10px;
    line-height: 25px;
    word-spacing: 2px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #333333;
}

/*MOBILE*/
@media (max-width:600px){
    #wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    /***TOP***/
    .menu_top{
        width: 100%;
    }
    .menu_center_bottom_top{
        display: none;
    }
    .menu_top_top{
        display: none;
        text-align: center;
    }
    .logo-mona-2{
        align-self: center;
        justify-self: center;
    }
    .margin_top_20px{
        display: none;
    }
    .search_menu{
        display: none;
    }
    /*



    /*SLIDE_MENU*/
    .slide_menu{
        display: none;
    }
    /*BANCHAY*/
    .menu_bottom_BanChay{
        width: 100%;
    }
    .menu_BanChay{
        flex-direction: column;
    }
    /**/

    .menu_bottom_top{
        display: flex;
        width: 100%;
        height: 30rem;
        flex-direction: column;
        
    }
    .banner_unit{
        width: 80%;
        align-self: center;
    }
    .banner{
        width: 80%;
    }

    /**/

    

    .menu_bottom_center{
        display: flex;
        align-self: center;
        justify-self: center;
        width: 100%;
        height: 40rem;
        flex-direction: column;
        justify-content: space-around;
    }
    .absolute_small_banner{
        width: 80%;
        align-self: center;
    }
    /**/
    .dangKy{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        border-top: 1px solid #333333;
    }
    .dangKy_form{
        width: 100%;
        height: 100%;
    }
    .form{
        width: 80%;
    }
    .button_DK{
        width: 20%;
        height: 4.5%;
        position: absolute;
        font-size: small;
        font-weight: 600;
        background-color: #C89979;
        border: none;
        color: white;
    }



    /*Menu_bottom*/
    .menu_bottom{
        display: flex;
        height: auto;
        flex-direction: column;
        width: 100%;
        background-color: #333333;
        margin-top: 6.25rem;
        justify-content: space-around;
        padding: 5.2%;
        
    }

    .menu_bottom_unit{
        padding-left: 10px;
        padding-right: 10px;
        line-height: 25px;
        word-spacing: 2px;
        display: flex;
        flex-direction: column;
        width: 280px;
        background-color: #333333;
    }
    .carousel-inner img {
        width: auto;
        height: auto;
    }
}
.product-grid3{font-family:Roboto,sans-serif;text-align:center;position:relative;z-index:1}
.product-grid3:before{content:"";height:81%;width:100%;background:#fff;border:1px solid rgba(0,0,0,.1);opacity:0;position:absolute;top:0;left:0;z-index:-1;transition:all .5s ease 0s}
.product-grid3:hover:before{opacity:1;height:100%}
.product-grid3 .product-image3{position:relative}
.product-grid3 .product-image3 a{display:block}
.product-grid3 .product-image3 img{width:100%;height:auto}
.product-grid3 .pic-1{opacity:1;transition:all .5s ease-out 0s;width: 850px;height: 400px;}
.product-grid3:hover .pic-1{opacity:0}
.product-grid3 .pic-2{position:absolute;top:0;left:0;opacity:0;transition:all .5s ease-out 0s;width: 850px;height: 400px;}
.product-grid3:hover .pic-2{opacity:1}
.product-grid3 .social{width:120px;padding:0;margin:0 auto;list-style:none;opacity:0;position:absolute;right:0;left:0;bottom:-23px;transform:scale(0);transition:all .3s ease 0s}
.product-grid3:hover .social{opacity:1;transform:scale(1)}
.product-grid3:hover .product-discount-label,.product-grid3:hover .product-new-label,.product-grid3:hover .title{opacity:0}
.product-grid3 .social li{display:inline-block}
.product-grid3 .social li a{color:#e67e22;background:#fff;font-size:18px;line-height:50px;width:50px;height:50px;border:1px solid rgba(0,0,0,.1);border-radius:50%;margin:0 2px;display:block;transition:all .3s ease 0s}
.product-grid3 .social li a:hover{background:#e67e22;color:#fff}
.product-grid3 .product-discount-label,.product-grid3 .product-new-label{background-color:#e67e22;color:#fff;font-size:17px;padding:2px 10px;position:absolute;right:10px;top:10px;transition:all .3s}
.product-grid3 .product-content{z-index:-1;padding:15px;text-align:left}
.product-grid3 .title{font-size:24px;text-transform:capitalize;margin:0 0 7px;transition:all .3s ease 0s}
.product-grid3 .title a{color:#414141}
.product-grid3 .price{color:#000;font-size:16px;letter-spacing:1px;font-weight:600;margin-right:2px;display:inline-block}
.product-grid3 .price span{color:#909090;font-size:14px;font-weight:500;letter-spacing:0;text-decoration:line-through;text-align:left;display:inline-block;margin-top:-2px}
.product-grid3 .rating{padding:0;margin:-22px 0 0;list-style:none;text-align:right;display:block}
.product-grid3 .rating li{color:#ffd200;font-size:13px;display:inline-block}
.product-grid3 .rating li.disable{color:#ffffff}
@media only screen and (max-width:1440px){.product-grid3 .rating{margin:0}
}

@media only screen and (max-width:600px){
    .product-grid3 .rating{margin:0}
    #wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    /***TOP***/
    .menu_top{
        width: 100%;
    }
    .menu_center_bottom_top{
        display: none;
        
    }
    .menu_center_top{
        align-self: center;
    }
    .menu_top_top{
        display: none;
    }
    .logo-mona-2{
       justify-self: center;
    }
    .margin_top_20px{
        display: none;
    }
    .search_menu{
        display: none;
    }
    
    
    
    #demo{
        display: none;
    }
    /*



    /*SLIDE_MENU*/
    .slide_menu{
        display: none;
    }
    /*BANCHAY*/
    .menu_bottom_BanChay{
        width: 100%;
    }
    .menu_BanChay{
        flex-direction: column;
    }
    
    .dangKy{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        border-top: 1px solid #333333;
    }
    .dangKy_form{
        width: 100%;
        height: 100%;
    }
    .form{
        width: 80%;
    }
    .button_DK{
        
        position: absolute;
        font-size: small;
        font-weight: 600;
        background-color: #C89979;
        border: none;
        color: white;
    }



    /*Menu_bottom*/
    .menu_bottom{
        display: flex;
        height: auto;
        flex-direction: column;
        width: 100%;
        background-color: #333333;
        margin-top: 6.25rem;
        justify-content: space-around;
        padding: 5.2%;
        
    }

    .menu_bottom_unit{
        padding-left: 10px;
        padding-right: 10px;
        line-height: 25px;
        word-spacing: 2px;
        display: flex;
        flex-direction: column;
        width: 280px;
        background-color: #333333;
    }
}